{% extends "layout.html"%}
{%block content %}




    {% if upload %}

        <section class="section-conten padding-y" style="min-height:75vh">

            <!-- ============================ COMPONENT LOGIN   ================================= -->



                <div class="card mx-auto py-2" style="max-width: 600px; margin-top:20px; display:flex; justify-content:center; align-items:center">
                <div class="card-body">
                <h4 class="card-title mb-4 font-weight-bolder">Automatic Number Plate Recognization with CNN</h4>
                <img class="card-img my-2" src="/static/predict/{{ upload_image }}" alt="Card image" width="3\400" height="350">
                {% if text %}
                <h6 class="my-2">Number: {{ text }} </h6>
                {% else %}
                <h6 class="my-2">Number: Not Found</h6>
                {%endif%}
                <!--<h6 class="my-2">Accuracy: </h6> -->
                </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            
        
            <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
            

        </section>
            


        <!-- ========================= SECTION CONTENT ========================= -->


    {%else%}
        <section class="section-conten padding-y" style="min-height:74vh;  background-color:#F5FFFF;">

            <!-- ============================ COMPONENT LOGIN   ================================= -->



                <div class="card mx-auto py-3" style="max-width: 600px; margin-top:20px; display:flex; justify-content:center; align-items:center">
                <div class="card-body" >
                <h4 class="card-title mb-4 font-weight-bolder">Automatic Number Plate Recognization with CNN</h4>
                <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="imageInput" class="font-weight-bold">Select an image to upload:</label>
                        <input type="file" class="form-control-file my-1" name="image_name" id ="image" required>
                    </div> <!-- form-group// -->	
                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary btn-block "> Upload Image </button>
                    </div> <!-- form-group// -->    
                </form>
                </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            
        
            <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
            

        </section>

    {%endif%}

{% endblock %}